<style>
  #top-nav {
    background-color: #0148c6;
  }

  #side-nav {
    background-color: #021728;
    min-width: 300px;
    max-width: 300px;
  }

  #toolbar {
    background-color: #334360;
  }

  #book-links {
    background-color: #021728;
  }

  #book-links > a.active {
    background-color: #367eb8;
  }
</style>

<div id="component" class="vh-100 d-flex flex-column">
  <nav id="top-nav" class="navbar">
    <div class="container-fluid">
      <a
        class="navbar-brand text-light d-flex align-items-center gap-2"
        href="#"
      >
        <img src="assets/book (3) 2.png" alt="Logo" height="36" />
        <span class="fw-bold">Books</span>
      </a>
    </div>
  </nav>
  <div class="flex-grow-1 d-flex">
    <nav id="side-nav" class="h-100 text-light p-4 border-end border-white">
      <div class="row mb-3">
        <div class="col-4">
          <img src="assets/Profile.png" class="img-fluid" />
        </div>
        <div class="col-8 d-flex flex-column justify-content-around">
          <span>Admin 123</span>
          <span>Admin</span>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <button class="btn btn-sm btn-warning">Details</button>
        </div>
      </div>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a
            class="nav-link text-light d-flex align-items-center gap-3"
            aria-current="page"
            href="dashboard"
          >
            <img src="assets/Dashboard - Pic.png" height="32" width="32" />
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-light d-flex align-items-center gap-3"
            href="management"
          >
            <img src="assets/Book - pic.png" height="32" width="32" />
            Books
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-light d-flex align-items-center gap-3"
            href="users"
          >
            <img src="assets/User - Pic.png" height="32" width="32" />
            Users
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-light d-flex align-items-center gap-3"
            href="books?status=issued"
          >
            <img src="assets/Issued - pic.png" height="32" width="32" />
            Issued
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-light d-flex align-items-center gap-3"
            href="books?status=returned"
          >
            <img src="assets/Returned - Pic.png" height="32" width="32" />
            Returned
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-light d-flex align-items-center gap-3"
            href="books?status=not-returned"
          >
            <img src="assets/home 13.png" height="32" width="32" />
            Not-Returned
          </a>
        </li>
      </ul>
    </nav>
    <div class="d-flex flex-column flex-grow-1">
      <nav id="toolbar" class="p-3 d-flex text-light">
        <div class="row flex-fill">
          <div class="col-3 d-flex align-items-center gap-3">
            <label class="text-nowrap">Book name</label>
            <select
              class="d-block form-select form-select-sm form-inline rounded-0"
            >
              <option value=""></option>
            </select>
          </div>
          <div class="col-3 d-flex align-items-center gap-3">
            <label class="text-nowrap">Status</label>
            <select class="form-select form-select-sm form-inline rounded-0">
              <option value=""></option>
            </select>
          </div>
          <div class="col-3"></div>
          <div class="col-3 d-flex align-items-center gap-3">
            <input
              type="search"
              placeholder="Search"
              class="form-control form-control-sm rounded-0"
            />
          </div>
        </div>
      </nav>
      <main class="d-grid w-100 flex-grow-1 p-2">
        <div class="d-flex flex-column border rounded">
          <nav
            id="book-links"
            class="nav justify-content-start rounded-top px-3 py-1"
          >
            <a class="nav-link text-light text-center" href="#">ALL BOOKS</a>
          </nav>

          <div class="d-flex flex-grow-1 pt-4">
            <div class="w-50 p-5 pt-3">
              <form
                class="d-flex flex-column gap-3"
                [formGroup]="addBookForm"
                (ngSubmit)="onSubmit()"
              >
                <div class="row">
                  <div class="col-4">Book Name</div>
                  <div class="col-8">
                    <input
                      type="text"
                      class="form-control rounded-0"
                      formControlName="book_name"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">Book Price</div>
                  <div class="col-8">
                    <input
                      type="text"
                      class="form-control rounded-0"
                      formControlName="book_price"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">Book ID</div>
                  <div class="col-8">
                    <input
                      type="text"
                      class="form-control rounded-0"
                      formControlName="book_id"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-4"></div>
                  <div class="col-8 d-flex gap-3">
                    <button type="submit" class="flex-fill btn btn-primary">
                      Add
                    </button>
                    <button type="button" class="flex-fill btn btn-primary">
                      Cancel
                    </button>
                  </div>
                </div>
              </form>
            </div>

            <div class="w-50 border">
              <table class="table">
                <thead>
                  <tr>
                    <th colspan="4" class="bg-primary">
                      <div class="d-flex">
                        <input
                          type="text"
                          class="ms-auto bg-transparent border-0"
                          placeholder="Search"
                        />
                      </div>
                    </th>
                  </tr>
                  <tr>
                    <th scope="col">Book ID</th>
                    <th scope="col">Book Name</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let book of books">
                    <td>
                      <input
                        class="form-control"
                        type="text"
                        *ngIf="bookEditable == book.book_id; else bid"
                        [(ngModel)]="editBookId"
                      />
                      <ng-template #bid>{{ book.book_id }}</ng-template>
                    </td>
                    <td>
                      <input
                        class="form-control"
                        type="text"
                        *ngIf="bookEditable == book.book_id; else bname"
                        [(ngModel)]="editBookName"
                      />
                      <ng-template #bname>{{ book.book_name }}</ng-template>
                    </td>
                    <td>
                      <input
                        class="form-control"
                        type="text"
                        *ngIf="bookEditable == book.book_id; else bprice"
                        [(ngModel)]="editBookPrice"
                      />
                      <ng-template #bprice>
                        Php {{ book.book_price }}
                      </ng-template>
                    </td>
                    <td>
                      <button
                        type="submit"
                        class="btn btn-sm btn-warning"
                        (click)="updateBook(book.book_id)"
                        *ngIf="bookEditable == book.book_id; else buttons"
                      >
                        Done
                      </button>
                      <ng-template #buttons>
                        <button
                          class="btn btn-sm btn-warning me-1"
                          (click)="setBookEditable(book)"
                        >
                          Edit
                        </button>
                        <button
                          type="button"
                          class="btn btn-sm btn-danger"
                          (click)="deleteBook(book.book_id)"
                        >
                          Del
                        </button>
                      </ng-template>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
