<style>
  #top-nav {
    background-color: #0148c6;
  }

  #side-nav {
    background-color: #021728;
    min-width: 300px;
    max-width: 300px;
  }

  #toolbar {
    background-color: #334360;
  }

  #book-links {
    background-color: #021728;
  }

  #book-links > a.active {
    background-color: #367eb8;
  }
</style>

<div id="component" class="vh-100 d-flex flex-column">
  <nav id="top-nav" class="navbar">
    <div class="container-fluid">
      <a
        class="navbar-brand text-light d-flex align-items-center gap-2"
        routerLink="#"
      >
        <img src="assets/library 1.png" alt="Logo" height="36" />
        <span class="fw-bold">Library Management System</span>
      </a>
    </div>
  </nav>
  <div class="flex-grow-1 d-flex">
    <nav id="side-nav" class="h-100 text-light p-4 border-end border-white">
      <div class="row mb-2">
        <div class="col-4">
          <img src="assets/Profile.png" class="img-fluid" />
        </div>
        <div class="col-8 d-flex flex-column justify-content-around">
          <span>{{ user?.fullname }}</span>
          <span>{{ user?.email }}</span>
        </div>
      </div>
      <div class="mb-3">
        <a routerLink="edit-profile" class="btn btn-sm btn-warning">
          Edit Profile
        </a>
      </div>
      <app-admin-side-links />
    </nav>
    <main class="align-self-start d-flex flex-wrap p-5 align-items-start gap-5">
      <a
        routerLink="/management"
        class="card text-bg-success shadow text-decoration-none border-0 rounded-0"
        style="min-width: 18rem"
      >
        <div class="card-body shadow-sm d-flex align-items-center gap-3 p-0">
          <img src="assets/book (3) 1.png" height="128" />
          <h5 class="card-title fs-2">Books</h5>
        </div>
        <div class="card-footer border-0 text-center">More info</div>
      </a>
      <a
        routerLink="/users"
        class="card text-bg-danger shadow text-decoration-none border-0 rounded-0"
        style="min-width: 18rem"
      >
        <div class="card-body shadow-sm d-flex align-items-center gap-3 p-0">
          <img src="assets/Users-Picture.png" height="128" />
          <h5 class="card-title fs-2">Users</h5>
        </div>
        <div class="card-footer border-0 text-center">More info</div>
      </a>
      <a
        routerLink="/books?tab=returned"
        class="card text-light shadow text-decoration-none border-0 rounded-0"
        style="min-width: 18rem; background-color: #dc532d"
      >
        <div class="card-body shadow-sm d-flex align-items-center gap-3 p-0">
          <img src="assets/approved 1.png" height="128" />
          <h5 class="card-title fs-2">Returned</h5>
        </div>
        <div class="card-footer border-0 text-center">More info</div>
      </a>
      <a
        routerLink="/books?tab=not-returned"
        class="card text-light shadow text-decoration-none border-0 rounded-0"
        style="min-width: 18rem; background-color: #00c0ef"
      >
        <div class="card-body shadow-sm d-flex align-items-center gap-3 p-0">
          <img src="assets/Not-Returned Picture.png" height="128" />
          <h5 class="card-title fs-2 text-center">Not<br />Returned</h5>
        </div>
        <div class="card-footer border-0 text-center">More info</div>
      </a>
    </main>
  </div>
</div>
